player-connection-mode=Listen
player-connection-guid=3960996504
player-connection-debug=0
player-connection-project-name=Asteroids
player-connection-ip=192.168.56.1
player-connection-ip=169.233.133.185
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ac0d4feed5a6493ab98a237f9ed262c6
